<div class="jumbotron">
    <div class="row">
        <div class= "col-md-6">
            <h1 class="display-4">Paint My Minis</h1>
            <p class="lead">Made by lazy tabletop War & RPG players, for lazy tabletop War & RPG players!</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        <div class="col-md-6">
            <%= image_tag "logo", class: "home_img" %>
        </div>
    </div>
</div>