<h1>New Listing</h1>

<%= render 'form', listing: @listing %>

<%= link_to 'Back', listings_path %>

<footer><strong>*Please note that if text is entered into the <em>Price</em> field the listing will not be posted.</strong></footer>